{
  "openapi": "3.0.0",
  "info": {
    "title": "Toku API",
    "version": "1.0.0",
    "description": "The Toku API lets you programmatically manage token grants, wallets, employees, payroll, and invoices. Build custom integrations and automate your token compensation workflows."
  },
  "servers": [
    {
      "url": "https://app.toku.com/api/tokuApi/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Grants",
      "description": "Create, list, terminate, and revert token grants"
    },
    {
      "name": "Wallets",
      "description": "Manage recipient wallets, verification, and distributions"
    },
    {
      "name": "Employees",
      "description": "Manage user roles within your organization"
    },
    {
      "name": "Tokens & Networks",
      "description": "Configure token types and blockchain networks for your organization"
    },
    {
      "name": "Invoices",
      "description": "Submit and settle invoice payments"
    },
    {
      "name": "Organization",
      "description": "Configure organization settings"
    },
    {
      "name": "Authentication",
      "description": "Create and manage API tokens"
    },
    {
      "name": "Distributions",
      "description": "Approve vestings, add tax details, update FMV, finalize, submit settlements, and track status"
    },
    {
      "name": "Custody",
      "description": "Connect custody providers (Fireblocks, Anchorage, Safe), manage custody wallets, and allocate to grants"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal API token. Create via createUserApiToken endpoint."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Short error message"
          },
          "details": {
            "type": "string",
            "description": "Additional debugging information"
          }
        }
      },
      "Grant": {
        "type": "object",
        "properties": {
          "grantID": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "grantName": {
            "type": "string",
            "description": "Human-readable name",
            "example": "Q1 2026 Token Grant - Jane Smith"
          },
          "externalEmployeeID": {
            "type": "string",
            "nullable": true,
            "description": "External HRIS identifier",
            "example": "EMP-001"
          },
          "grantAmount": {
            "type": "number",
            "description": "Total token units (0 for fiat grants)",
            "example": 50000
          },
          "grantStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "REJECTED",
              "ACCEPTED",
              "COMPLETED",
              "TERMINATED",
              "PAUSED",
              "MARKED_FOR_FUTURE_TERMINATION"
            ],
            "example": "ACCEPTED"
          },
          "grantAmountInFiat": {
            "type": "number",
            "description": "Fiat value of the grant",
            "example": 25000
          },
          "grantConfigurationName": {
            "type": "string",
            "description": "Template name",
            "example": "Standard 4-Year RTU"
          },
          "vestingStartDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-01-01T00:00:00.000Z"
          },
          "vestingPeriods": {
            "type": "integer",
            "example": 48
          },
          "vestingFrequencyType": {
            "type": "string",
            "enum": [
              "MONTHLY",
              "QUARTERLY",
              "ANNUALLY"
            ],
            "example": "MONTHLY"
          },
          "vestingCliffPeriods": {
            "type": "integer",
            "example": 12
          },
          "vestingCliffPercentage": {
            "type": "number",
            "example": 25
          },
          "percentageOfUnitsVested": {
            "type": "number",
            "description": "Percentage vested to date",
            "example": 16.67
          },
          "recipientFullName": {
            "type": "string",
            "example": "Jane Smith"
          },
          "grantDate": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-15T00:00:00.000Z"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "engineering",
              "2026"
            ]
          },
          "roleInOrgID": {
            "type": "string",
            "format": "uuid",
            "example": "660e8400-e29b-41d4-a716-446655440001"
          },
          "roleInOrgExternalID": {
            "type": "integer",
            "example": 12345
          },
          "hasGrantDocuments": {
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-15T10:30:00.000Z"
          }
        }
      },
      "EmployeeGrant": {
        "type": "object",
        "properties": {
          "grantID": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "grantName": {
            "type": "string",
            "example": "Q1 2026 Token Grant"
          },
          "grantDescription": {
            "type": "string",
            "nullable": true,
            "example": "Annual token compensation"
          },
          "grantStatus": {
            "type": "string",
            "example": "ACCEPTED"
          },
          "grantAmount": {
            "type": "number",
            "example": 50000
          },
          "grantAmountInFiat": {
            "type": "number",
            "nullable": true,
            "example": 25000
          },
          "pricePerUnit": {
            "type": "number",
            "nullable": true,
            "example": 0.5
          },
          "pricePerUnitCurrencyCode": {
            "type": "string",
            "nullable": true,
            "example": "USD"
          },
          "grantDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2025-12-15T00:00:00.000Z"
          },
          "vestingStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2026-01-01T00:00:00.000Z"
          },
          "vestingFrequencyType": {
            "type": "string",
            "nullable": true,
            "example": "MONTHLY"
          },
          "vestingCliffPercentage": {
            "type": "number",
            "nullable": true,
            "example": 25
          },
          "vestingCliffPeriods": {
            "type": "integer",
            "nullable": true,
            "example": 12
          },
          "vestingPeriods": {
            "type": "number",
            "nullable": true,
            "example": 48
          },
          "terminationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": null
          },
          "futureTerminationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": null
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "engineering"
            ]
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "walletID": {
            "type": "string",
            "format": "uuid",
            "example": "770e8400-e29b-41d4-a716-446655440002"
          },
          "walletAddress": {
            "type": "string",
            "example": "0x1234567890abcdef1234567890abcdef12345678"
          },
          "name": {
            "type": "string",
            "example": "Primary ETH Wallet"
          },
          "network": {
            "type": "string",
            "example": "Ethereum"
          },
          "status": {
            "type": "string",
            "enum": [
              "CURRENT",
              "PENDING",
              "ARCHIVED",
              "CANCELLED",
              "REJECTED"
            ],
            "example": "CURRENT"
          },
          "nickName": {
            "type": "string",
            "nullable": true,
            "example": "My Ledger"
          },
          "roleInOrgID": {
            "type": "string",
            "format": "uuid",
            "example": "660e8400-e29b-41d4-a716-446655440001"
          },
          "orgNetworkID": {
            "type": "string",
            "nullable": true,
            "example": "880e8400-e29b-41d4-a716-446655440003"
          },
          "tokenTypeID": {
            "type": "string",
            "nullable": true,
            "example": "990e8400-e29b-41d4-a716-446655440004"
          }
        }
      },
      "RoleInOrg": {
        "type": "object",
        "properties": {
          "roleInOrgID": {
            "type": "string",
            "format": "uuid",
            "example": "660e8400-e29b-41d4-a716-446655440001"
          },
          "orgID": {
            "type": "string",
            "format": "uuid",
            "example": "aa0e8400-e29b-41d4-a716-446655440005"
          },
          "personID": {
            "type": "string",
            "format": "uuid",
            "example": "bb0e8400-e29b-41d4-a716-446655440006"
          },
          "role": {
            "type": "string",
            "example": "RECIPIENT"
          },
          "externalEmployeeID": {
            "type": "string",
            "nullable": true,
            "example": "EMP-001"
          },
          "payrollEmployeeID": {
            "type": "string",
            "nullable": true,
            "example": "PAY-12345"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "nullable": true,
            "enum": ["CONTRACTOR", "EMPLOYEE", "EX_EMPLOYEE", "ADVISOR", "SERVICE_PROVIDER", "OTHER"],
            "description": "TGA employment type. Valid values: CONTRACTOR, EMPLOYEE, EX_EMPLOYEE, ADVISOR, SERVICE_PROVIDER, OTHER.",
            "example": "EMPLOYEE"
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": null
          }
        }
      },
      "TokenType": {
        "type": "object",
        "properties": {
          "tokenTypeID": {
            "type": "string",
            "format": "uuid",
            "example": "990e8400-e29b-41d4-a716-446655440004"
          },
          "name": {
            "type": "string",
            "example": "USDC"
          },
          "currencyCode": {
            "type": "string",
            "example": "USDC"
          },
          "isTokenEnabled": {
            "type": "boolean",
            "nullable": true,
            "example": true
          }
        }
      },
      "Network": {
        "type": "object",
        "properties": {
          "networkID": {
            "type": "string",
            "format": "uuid",
            "example": "880e8400-e29b-41d4-a716-446655440003"
          },
          "name": {
            "type": "string",
            "example": "Ethereum"
          },
          "icon": {
            "type": "string",
            "nullable": true,
            "example": "ethereum.svg"
          },
          "tokenType": {
            "type": "string",
            "example": "EVM"
          },
          "isNetworkEnabled": {
            "type": "boolean",
            "nullable": true,
            "example": true
          }
        }
      },
      "PersonalToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The API token value. Store securely — cannot be retrieved again.",
            "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
          },
          "personalTokenID": {
            "type": "string",
            "format": "uuid",
            "example": "cc0e8400-e29b-41d4-a716-446655440007"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-20T00:00:00.000Z"
          }
        }
      },
      "WalletReference": {
        "type": "object",
        "description": "Links a wallet to a grant with a distribution ratio",
        "properties": {
          "walletReferenceID": {
            "type": "string",
            "format": "uuid",
            "example": "dd0e8400-e29b-41d4-a716-446655440008"
          },
          "walletID": {
            "type": "string",
            "format": "uuid",
            "example": "770e8400-e29b-41d4-a716-446655440002"
          },
          "grantID": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "distRatio": {
            "type": "number",
            "description": "Distribution ratio (0-1)",
            "example": 1
          },
          "wallet": {
            "$ref": "#/components/schemas/Wallet"
          },
          "roleInOrg": {
            "type": "object",
            "properties": {
              "roleInOrgID": {
                "type": "string",
                "format": "uuid"
              },
              "personID": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "WalletTypeCustom": {
        "type": "object",
        "properties": {
          "walletTypeCustomID": {
            "type": "string",
            "example": "hot-wallet"
          },
          "name": {
            "type": "string",
            "example": "Hot Wallet"
          },
          "orgID": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/listGrants": {
      "get": {
        "summary": "List Grants",
        "description": "Returns all grants for the authenticated organization. Filter by externalEmployeeID in the response to get grants for a specific employee.",
        "operationId": "listGrants",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of grants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Grant"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/listGrantConfigurations": {
      "get": {
        "summary": "List Grant Configurations",
        "description": "Returns all grant configuration templates for your organization.",
        "operationId": "listGrantConfigurations",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of grant configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "grantConfigurationID": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "grantConfigurationName": {
                        "type": "string"
                      },
                      "grantType": {
                        "type": "string"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getEmployeeGrants": {
      "get": {
        "summary": "Get Employee Grants",
        "description": "Returns all grants for a specific employee. Provide either payrollEmployeeID or externalEmployeeID.",
        "operationId": "getEmployeeGrants",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "payrollEmployeeID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Payroll identifier. Takes precedence when both are provided."
          },
          {
            "name": "externalEmployeeID",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "External HRIS identifier. At least one ID is required."
          }
        ],
        "responses": {
          "200": {
            "description": "Employee grants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmployeeGrant"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getPayrollEmployeeID": {
      "get": {
        "summary": "Get Payroll Employee ID",
        "description": "Resolves the payroll employee identifier from an external employee ID.",
        "operationId": "getPayrollEmployeeID",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "externalEmployeeID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "External HRIS identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Payroll employee ID resolved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payrollEmployeeID": {
                      "type": "string",
                      "nullable": true
                    },
                    "roleInOrgID": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addSingleGrant": {
      "post": {
        "summary": "Add Single Grant",
        "description": "Creates a new token grant for an employee.",
        "operationId": "addSingleGrant",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grantName",
                  "grantConfigurationID",
                  "grantAmount",
                  "recipientID"
                ],
                "properties": {
                  "grantName": {
                    "type": "string"
                  },
                  "grantDescription": {
                    "type": "string"
                  },
                  "grantConfigurationID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "grantAmount": {
                    "type": "number"
                  },
                  "recipientID": {
                    "type": "string",
                    "description": "roleInOrgID of the recipient"
                  },
                  "vestingStartDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "vestingFrequencyType": {
                    "type": "string",
                    "enum": [
                      "MONTHLY",
                      "QUARTERLY",
                      "ANNUALLY"
                    ]
                  },
                  "vestingCliffPercentage": {
                    "type": "number"
                  },
                  "vestingCliffPeriods": {
                    "type": "number"
                  },
                  "vestingPeriods": {
                    "type": "number"
                  },
                  "lockup": {
                    "type": "number"
                  },
                  "isSection83bElectionEligible": {
                    "type": "boolean"
                  },
                  "offPlatformDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grant created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grantID": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/createGrantForNewHire": {
      "post": {
        "summary": "Create Grant for New Hire",
        "description": "Creates a grant for a new hire, optionally creating the user role in the organization.",
        "operationId": "createGrantForNewHire",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "givenName",
                  "familyName",
                  "employmentType",
                  "grantName",
                  "grantDescription",
                  "grantConfigurationID",
                  "grantAmount",
                  "vestingStartDate",
                  "vestingFrequencyType",
                  "vestingCliffPercentage",
                  "vestingCliffPeriods",
                  "vestingPeriods",
                  "lockup",
                  "offPlatformDate",
                  "tags"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "givenName": {
                    "type": "string"
                  },
                  "familyName": {
                    "type": "string"
                  },
                  "employmentType": {
                    "type": "string",
                    "enum": ["CONTRACTOR", "EMPLOYEE", "EX_EMPLOYEE", "ADVISOR", "SERVICE_PROVIDER", "OTHER"],
                    "description": "TGA employment type."
                  },
                  "grantName": {
                    "type": "string"
                  },
                  "grantDescription": {
                    "type": "string"
                  },
                  "grantConfigurationID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "grantAmount": {
                    "type": "number"
                  },
                  "vestingStartDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "vestingFrequencyType": {
                    "type": "string",
                    "enum": [
                      "MONTHLY",
                      "QUARTERLY",
                      "ANNUALLY"
                    ]
                  },
                  "vestingCliffPercentage": {
                    "type": "number"
                  },
                  "vestingCliffPeriods": {
                    "type": "number"
                  },
                  "vestingPeriods": {
                    "type": "number"
                  },
                  "lockup": {
                    "type": "number"
                  },
                  "isSection83bElectionEligible": {
                    "type": "boolean"
                  },
                  "offPlatformDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grant created for new hire",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "grantID": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/terminateGrant": {
      "post": {
        "summary": "Terminate Grant",
        "description": "Terminates a grant by recalculating vestings up to the termination date.",
        "operationId": "terminateGrant",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grantID",
                  "terminationDate"
                ],
                "properties": {
                  "grantID": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "terminationDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "orgID": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grant terminated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Grant"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/terminateGrants": {
      "post": {
        "summary": "Terminate Grants (Bulk)",
        "description": "Terminates multiple grants for an employee by external ID.",
        "operationId": "terminateGrants",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalEmployeeID",
                  "terminationDate",
                  "grantIDs"
                ],
                "properties": {
                  "externalEmployeeID": {
                    "type": "string"
                  },
                  "terminationDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "grantIDs": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grants terminated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "terminatedGrantIDs": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "skippedGrantIDs": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "failedGrantIDs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "grantID": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "reason": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/terminateEmployeeGrants": {
      "post": {
        "summary": "Terminate Employee Grants",
        "description": "Terminates grants for an employee. If grantIDs omitted, terminates all active grants.",
        "operationId": "terminateEmployeeGrants",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalEmployeeID",
                  "terminationDate"
                ],
                "properties": {
                  "externalEmployeeID": {
                    "type": "string"
                  },
                  "terminationDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "grantIDs": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Employee grants terminated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "terminatedGrantIDs": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "alreadyTerminatedGrantIDs": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/revertGrantTermination": {
      "post": {
        "summary": "Revert Grant Termination",
        "description": "Reverts a previously terminated grant and regenerates vestings.",
        "operationId": "revertGrantTermination",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grantID"
                ],
                "properties": {
                  "grantID": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grant termination reverted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Grant"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/revertEmployeeGrantTermination": {
      "post": {
        "summary": "Revert Employee Grant Termination",
        "description": "Reverts a single terminated grant for an employee.",
        "operationId": "revertEmployeeGrantTermination",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalEmployeeID",
                  "grantID"
                ],
                "properties": {
                  "externalEmployeeID": {
                    "type": "string"
                  },
                  "grantID": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grant termination reverted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/revertEmployeeGrants": {
      "post": {
        "summary": "Revert Employee Grants (Bulk)",
        "description": "Reverts multiple terminated grants for an employee.",
        "operationId": "revertEmployeeGrants",
        "tags": [
          "Grants"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalEmployeeID",
                  "grantIDs"
                ],
                "properties": {
                  "externalEmployeeID": {
                    "type": "string"
                  },
                  "grantIDs": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grants reverted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "revertedGrantIDs": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "alreadyActiveGrantIDs": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAllWallets": {
      "get": {
        "summary": "List All Wallets",
        "description": "Returns all wallets across all recipients in your organization.",
        "operationId": "getAllWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getCurrentWallet": {
      "get": {
        "summary": "Get Current Wallet",
        "description": "Returns the current active wallet for the authenticated user's role.",
        "operationId": "getCurrentWallet",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current wallet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "$ref": "#/components/schemas/Wallet"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getUserCurrentWallets": {
      "get": {
        "summary": "Get User Current Wallets",
        "description": "Returns all current wallets, optionally filtered by roleInOrgID.",
        "operationId": "getUserCurrentWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "roleInOrgID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getHistoricalWallets": {
      "get": {
        "summary": "Get Historical Wallets",
        "description": "Returns historical (deactivated) wallets for the authenticated user's role.",
        "operationId": "getHistoricalWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAllHistoricalWallets": {
      "get": {
        "summary": "Get All Historical Wallets",
        "description": "Returns all historical wallets across the organization.",
        "operationId": "getAllHistoricalWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "roleInOrgID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getEmployeeWallets": {
      "get": {
        "summary": "Get Employee Wallets",
        "description": "Returns current wallets for a specific employee.",
        "operationId": "getEmployeeWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "roleInOrgID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Employee wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getEmployeeHistoricalWallets": {
      "get": {
        "summary": "Get Employee Historical Wallets",
        "description": "Returns historical wallets for a specific employee.",
        "operationId": "getEmployeeHistoricalWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "roleInOrgID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAllWalletsForAllRecipients": {
      "get": {
        "summary": "Get All Wallets for All Recipients",
        "description": "Returns wallets for all grant recipients in the organization.",
        "operationId": "getAllWalletsForAllRecipients",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets for all recipients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getPendingWallets": {
      "get": {
        "summary": "Get Pending Wallets",
        "description": "Returns wallets awaiting approval.",
        "operationId": "getPendingWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "roleInOrgID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getPendingWalletRequest": {
      "get": {
        "summary": "Get Pending Wallet Request",
        "description": "Returns the pending wallet request for the authenticated user.",
        "operationId": "getPendingWalletRequest",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending wallet request details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "updatedWalletRequest": {
                      "type": "object",
                      "nullable": true
                    },
                    "wallet": {
                      "$ref": "#/components/schemas/Wallet"
                    },
                    "walletStatus": {
                      "type": "string",
                      "nullable": true
                    },
                    "isOpenWalletRequestAvailable": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getPendingWalletRequests": {
      "get": {
        "summary": "Get All Pending Wallet Requests",
        "description": "Returns all pending wallet requests in the organization.",
        "operationId": "getPendingWalletRequests",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending wallet requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getTestTxnApprovalPendingWallets": {
      "get": {
        "summary": "Get Test Transaction Approval Pending Wallets",
        "description": "Returns wallets where test transactions are awaiting admin approval.",
        "operationId": "getTestTxnApprovalPendingWallets",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "roleInOrgID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallets pending test txn approval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getVerifiedWalletTestRequests": {
      "get": {
        "summary": "Get Verified Wallet Test Requests",
        "description": "Returns wallet requests where the test transaction has been verified.",
        "operationId": "getVerifiedWalletTestRequests",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verified wallet test requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getPendingWalletTestRequests": {
      "get": {
        "summary": "Get Pending Wallet Test Requests",
        "description": "Returns wallet requests where test transactions are still pending.",
        "operationId": "getPendingWalletTestRequests",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pending wallet test requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getAllWalletReferencesForAllGrants": {
      "get": {
        "summary": "Get Wallet References for All Grants",
        "description": "Returns wallet references linked to all grants.",
        "operationId": "getAllWalletReferencesForAllGrants",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "isSCPGrant",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "roleInOrgID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet references for grants",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletReference"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/getWalletReferencesWithNetworks": {
      "get": {
        "summary": "Get Wallet References with Networks",
        "description": "Returns wallet references with their associated network information.",
        "operationId": "getWalletReferencesWithNetworks",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          },
          {
            "name": "roleInOrgIDs",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated roleInOrgIDs"
          },
          {
            "name": "tokenTypeID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet references with networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WalletReference"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed — token missing, invalid, or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Caller does not have the required role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (100 req/min per IP)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/addWallet": {
      "post": {
        "summary": "Add Wallet",
        "description": "Adds a new wallet for a recipient.",
        "operationId": "addWallet",
        "tags": [
          "Wallets"
        ],
        "parameters": [
          {
            "name": "x-role-type",
            "in": "header",
            "required": true,
            "description": "Role context for the request. Use CLIENT_ORG_ADMIN for most integrations.",
            "example": "CLIENT_ORG_ADMIN",
            "schema": {
              "type": "string",
              "enum": [
                "CLIENT_ORG_ADMIN",
                "PAYROLL_ADMIN",
                "FINANCE_ADMIN",
                "TOKU_ADMIN"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
