{
  "openapi": "3.0.0",
  "info": {
    "title": "Toku API",
    "version": "1.0.0",
    "description": "The Toku API lets you programmatically manage token grants, wallets, employees, payroll, and invoices. Build custom integrations and automate your token compensation workflows."
  },
  "servers": [
    {
      "url": "https://app.toku.com/api/tokuApi/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Grants",
      "description": "Create, list, terminate, and revert token grants"
    },
    {
      "name": "Wallets",
      "description": "Manage recipient wallets, verification, and distributions"
    },
    {
      "name": "Employees",
      "description": "Manage user roles within your organization"
    },
    {
      "name": "Tokens & Networks",
      "description": "Configure token types and blockchain networks for your organization"
    },
    {
      "name": "Invoices",
      "description": "Submit and settle invoice payments"
    },
    {
      "name": "Organization",
      "description": "Configure organization settings"
    },
    {
      "name": "Distributions",
      "description": "Approve vestings, add tax details, update FMV, finalize, submit settlements, and track status"
    },
    {
      "name": "Custody",
      "description": "Connect custody providers (Fireblocks, Anchorage, Safe), manage custody wallets, and allocate to grants"
    },
    {
      "name": "Authentication",
      "description": "Partner API token management"
    },
    {
      "name": "Payroll",
      "description": "Payroll run creation, management, and state transitions"
    },
    {
      "name": "EOR",
      "description": "Employer of Record employee onboarding and management"
    },
    {
      "name": "Payslips",
      "description": "Payslip generation, upload, and retrieval"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoint management and event delivery"
    },
    {
      "name": "Stablecoin Funding",
      "description": "Token payroll creation and stablecoin settlement"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Personal API token. Create via createUserApiToken endpoint."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Short error message"
          },
          "details": {
            "type": "string",
            "description": "Additional debugging information"
          }
        }
      },
      "Grant": {
        "type": "object",
        "properties": {
          "grantID": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "grantName": {
            "type": "string",
            "description": "Human-readable name",
            "example": "Q1 2026 Token Grant - Jane Smith"
          },
          "externalEmployeeID": {
            "type": "string",
            "nullable": true,
            "description": "External HRIS identifier",
            "example": "EMP-001"
          },
          "grantAmount": {
            "type": "number",
            "description": "Total token units (0 for fiat grants)",
            "example": 50000
          },
          "grantStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "REJECTED",
              "ACCEPTED",
              "COMPLETED",
              "TERMINATED",
              "PAUSED",
              "MARKED_FOR_FUTURE_TERMINATION"
            ],
            "example": "ACCEPTED"
          },
          "grantAmountInFiat": {
            "type": "number",
            "description": "Fiat value of the grant",
            "example": 25000
          },
          "grantConfigurationName": {
            "type": "string",
            "description": "Template name",
            "example": "Standard 4-Year RTU"
          },
          "vestingStartDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-01-01T00:00:00.000Z"
          },
          "vestingPeriods": {
            "type": "integer",
            "example": 48
          },
          "vestingFrequencyType": {
            "type": "string",
            "enum": [
              "MONTHLY",
              "QUARTERLY",
              "ANNUALLY"
            ],
            "example": "MONTHLY"
          },
          "vestingCliffPeriods": {
            "type": "integer",
            "example": 12
          },
          "vestingCliffPercentage": {
            "type": "number",
            "example": 25
          },
          "percentageOfUnitsVested": {
            "type": "number",
            "description": "Percentage vested to date",
            "example": 16.67
          },
          "recipientFullName": {
            "type": "string",
            "example": "Jane Smith"
          },
          "grantDate": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-15T00:00:00.000Z"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "engineering",
              "2026"
            ]
          },
          "roleInOrgID": {
            "type": "string",
            "format": "uuid",
            "example": "660e8400-e29b-41d4-a716-446655440001"
          },
          "roleInOrgExternalID": {
            "type": "integer",
            "example": 12345
          },
          "hasGrantDocuments": {
            "type": "boolean",
            "example": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-15T10:30:00.000Z"
          }
        }
      },
      "EmployeeGrant": {
        "type": "object",
        "properties": {
          "grantID": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "grantName": {
            "type": "string",
            "example": "Q1 2026 Token Grant"
          },
          "grantDescription": {
            "type": "string",
            "nullable": true,
            "example": "Annual token compensation"
          },
          "grantStatus": {
            "type": "string",
            "example": "ACCEPTED"
          },
          "grantAmount": {
            "type": "number",
            "example": 50000
          },
          "grantAmountInFiat": {
            "type": "number",
            "nullable": true,
            "example": 25000
          },
          "pricePerUnit": {
            "type": "number",
            "nullable": true,
            "example": 0.5
          },
          "pricePerUnitCurrencyCode": {
            "type": "string",
            "nullable": true,
            "example": "USD"
          },
          "grantDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2025-12-15T00:00:00.000Z"
          },
          "vestingStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": "2026-01-01T00:00:00.000Z"
          },
          "vestingFrequencyType": {
            "type": "string",
            "nullable": true,
            "example": "MONTHLY"
          },
          "vestingCliffPercentage": {
            "type": "number",
            "nullable": true,
            "example": 25
          },
          "vestingCliffPeriods": {
            "type": "integer",
            "nullable": true,
            "example": 12
          },
          "vestingPeriods": {
            "type": "number",
            "nullable": true,
            "example": 48
          },
          "terminationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": null
          },
          "futureTerminationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": null
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "engineering"
            ]
          }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "walletID": {
            "type": "string",
            "format": "uuid",
            "example": "770e8400-e29b-41d4-a716-446655440002"
          },
          "walletAddress": {
            "type": "string",
            "example": "0x1234567890abcdef1234567890abcdef12345678"
          },
          "name": {
            "type": "string",
            "example": "Primary ETH Wallet"
          },
          "network": {
            "type": "string",
            "example": "Ethereum"
          },
          "status": {
            "type": "string",
            "enum": [
              "CURRENT",
              "PENDING",
              "ARCHIVED",
              "CANCELLED",
              "REJECTED"
            ],
            "example": "CURRENT"
          },
          "nickName": {
            "type": "string",
            "nullable": true,
            "example": "My Ledger"
          },
          "roleInOrgID": {
            "type": "string",
            "format": "uuid",
            "example": "660e8400-e29b-41d4-a716-446655440001"
          },
          "orgNetworkID": {
            "type": "string",
            "nullable": true,
            "example": "880e8400-e29b-41d4-a716-446655440003"
          },
          "tokenTypeID": {
            "type": "string",
            "nullable": true,
            "example": "990e8400-e29b-41d4-a716-446655440004"
          }
        }
      },
      "RoleInOrg": {
        "type": "object",
        "properties": {
          "roleInOrgID": {
            "type": "string",
            "format": "uuid",
            "example": "660e8400-e29b-41d4-a716-446655440001"
          },
          "orgID": {
            "type": "string",
            "format": "uuid",
            "example": "aa0e8400-e29b-41d4-a716-446655440005"
          },
          "personID": {
            "type": "string",
            "format": "uuid",
            "example": "bb0e8400-e29b-41d4-a716-446655440006"
          },
          "role": {
            "type": "string",
            "example": "RECIPIENT"
          },
          "externalEmployeeID": {
            "type": "string",
            "nullable": true,
            "example": "EMP-001"
          },
          "payrollEmployeeID": {
            "type": "string",
            "nullable": true,
            "example": "PAY-12345"
          },
          "country": {
            "type": "string",
            "nullable": true,
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "nullable": true,
            "enum": ["CONTRACTOR", "EMPLOYEE", "EX_EMPLOYEE", "ADVISOR", "SERVICE_PROVIDER", "OTHER"],
            "description": "TGA employment type. Valid values: CONTRACTOR, EMPLOYEE, EX_EMPLOYEE, ADVISOR, SERVICE_PROVIDER, OTHER.",
            "example": "EMPLOYEE"
          },
          "revokedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "example": null
          }
        }
      },
      "TokenType": {
        "type": "object",
        "properties": {
          "tokenTypeID": {
            "type": "string",
            "format": "uuid",
            "example": "990e8400-e29b-41d4-a716-446655440004"
          },
          "name": {
            "type": "string",
            "example": "USDC"
          },
          "currencyCode": {
            "type": "string",
            "example": "USDC"
          },
          "isTokenEnabled": {
            "type": "boolean",
            "nullable": true,
            "example": true
          }
        }
      },
      "Network": {
        "type": "object",
        "properties": {
          "networkID": {
            "type": "string",
            "format": "uuid",
            "example": "880e8400-e29b-41d4-a716-446655440003"
          },
          "name": {
            "type": "string",
            "example": "Ethereum"
          },
          "icon": {
            "type": "string",
            "nullable": true,
            "example": "ethereum.svg"
          },
          "tokenType": {
            "type": "string",
            "example": "EVM"
          },
          "isNetworkEnabled": {
            "type": "boolean",
            "nullable": true,
            "example": true
          }
        }
      },
      "PersonalToken": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "The API token value. Store securely — cannot be retrieved again.",
            "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
          },
          "personalTokenID": {
            "type": "string",
            "format": "uuid",
            "example": "cc0e8400-e29b-41d4-a716-446655440007"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-20T00:00:00.000Z"
          }
        }
      },
      "WalletReference": {
        "type": "object",
        "description": "Links a wallet to a grant with a distribution ratio",
        "properties": {
          "walletReferenceID": {
            "type": "string",
            "format": "uuid",
            "example": "dd0e8400-e29b-41d4-a716-446655440008"
          },
          "walletID": {
            "type": "string",
            "format": "uuid",
            "example": "770e8400-e29b-41d4-a716-446655440002"
          },
          "grantID": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "distRatio": {
            "type": "number",
            "description": "Distribution ratio (0-1)",
            "example": 1
          },
          "wallet": {
            "$ref": "#/components/schemas/Wallet"
          },
          "roleInOrg": {
            "type": "object",
            "properties": {
              "roleInOrgID": {
                "type": "string",
                "format": "uuid"
              },
              "personID": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "WalletTypeCustom": {
        "type": "object",
        "properties": {
          "walletTypeCustomID": {
            "type": "string",
            "example": "hot-wallet"
          },
          "name": {
            "type": "string",
            "example": "Hot Wallet"
          },
          "orgID": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
        "TgaPayrollState": {
          "type": "string",
          "description": "Payroll lifecycle state.",
          "enum": [
            "DRAFT",
            "CALCULATING",
            "APPROVED",
            "FUNDING",
            "COMPLETED",
            "FAILED"
          ]
        },
        "WebhookEventType": {
          "type": "string",
          "description": "Webhook event type emitted by the partner-facing API.",
          "enum": [
            "grant.created",
            "grant.terminated",
            "grant.termination_reverted",
            "distribution.schedule_approved",
            "distribution.settlement_completed",
            "employee.onboarded",
            "employee.offboarded",
            "payroll_run.created",
            "payroll_run.approved",
            "payroll_run.completed",
            "payslip.generated",
            "payment.initiated",
            "payment.completed",
            "contractor.invoice_submitted",
            "time_off.requested",
            "time_off.status_changed"
          ]
        },
        "CreateUserApiTokenInput": {
          "type": "object",
          "required": [
            "email",
            "orgID",
            "roleInOrgID",
            "fromHRIS"
          ],
          "properties": {
            "email": {
              "type": "string",
              "format": "email",
              "description": "User email for the API token"
            },
            "orgID": {
              "type": "string",
              "format": "uuid",
              "description": "Organization identifier"
            },
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            },
            "fromHRIS": {
              "type": "boolean",
              "description": "Whether the token is requested from the HRIS integration flow"
            }
          }
        },
        "CreateUserApiTokenResponse": {
          "type": "object",
          "required": [
            "personalToken"
          ],
          "properties": {
            "personalToken": {
              "$ref": "#/components/schemas/PersonalToken"
            }
          }
        },
        "RefreshUserApiTokenInput": {
          "type": "object",
          "required": [
            "email",
            "orgID",
            "roleInOrgID"
          ],
          "properties": {
            "email": {
              "type": "string",
              "format": "email",
              "description": "User email for the API token"
            },
            "orgID": {
              "type": "string",
              "format": "uuid",
              "description": "Organization identifier"
            },
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            }
          }
        },
        "RefreshUserApiTokenResponse": {
          "type": "object",
          "required": [
            "personalToken"
          ],
          "properties": {
            "personalToken": {
              "$ref": "#/components/schemas/PersonalToken"
            }
          }
        },
        "GetAllPayrollInput": {
          "type": "object",
          "description": "No request body is required for listing payroll runs.",
          "properties": {}
        },
        "GetAllPayrollResponse": {
          "type": "object",
          "required": [
            "payrolls"
          ],
          "properties": {
            "payrolls": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payroll identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Payroll display name"
                  },
                  "entity": {
                    "type": "string",
                    "description": "Payroll entity name or identifier"
                  },
                  "payPeriodStart": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Payroll period start date"
                  },
                  "payPeriodEnd": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Payroll period end date"
                  },
                  "payDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Scheduled payroll pay date"
                  },
                  "currentStep": {
                    "type": "string",
                    "description": "Current workflow step"
                  },
                  "state": {
                    "$ref": "#/components/schemas/TgaPayrollState"
                  },
                  "type": {
                    "type": "string",
                    "description": "Payroll type"
                  },
                  "externalPayrollID": {
                    "type": "string",
                    "description": "External payroll identifier",
                    "nullable": true
                  },
                  "fiatCurrency": {
                    "type": "string",
                    "description": "Fiat settlement currency"
                  },
                  "stableCoinCurrency": {
                    "type": "string",
                    "description": "Stablecoin currency code",
                    "nullable": true
                  },
                  "tokenTypeID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Token type identifier",
                    "nullable": true
                  },
                  "exchangeRate": {
                    "type": "number",
                    "description": "FX rate used for payroll calculations",
                    "nullable": true
                  },
                  "isStablecoinPayrollComplete": {
                    "type": "boolean",
                    "description": "Whether stablecoin settlement is complete"
                  },
                  "isFiatPayrollComplete": {
                    "type": "boolean",
                    "description": "Whether fiat settlement is complete"
                  },
                  "isSyncedFromHRIS": {
                    "type": "boolean",
                    "description": "Whether payroll originated from HRIS sync"
                  },
                  "selectedEmployeeIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Selected employee identifier"
                    }
                  },
                  "importedData": {
                    "type": "object",
                    "description": "Imported employee data payload",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "processedData": {
                    "type": "object",
                    "description": "Processed employee payroll data payload",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "settlementData": {
                    "type": "object",
                    "description": "Settlement calculation payload",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "isCsvUploaded": {
                    "type": "boolean",
                    "description": "Whether payroll data came from CSV upload"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation timestamp"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last update timestamp"
                  },
                  "createdByID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Creator role-in-org identifier"
                  },
                  "lastModifiedByID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Last modifier role-in-org identifier"
                  },
                  "orgID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Organization identifier"
                  }
                }
              },
              "description": "Payroll runs for the authenticated organization"
            }
          }
        },
        "CreatePayrollInput": {
          "type": "object",
          "required": [
            "payrollStartDate",
            "payrollEndDate",
            "payrollFiatCurrency",
            "tokenTypeID",
            "payrollEntity"
          ],
          "properties": {
            "payrollName": {
              "type": "string",
              "description": "Optional payroll name",
              "nullable": true
            },
            "payrollStartDate": {
              "type": "string",
              "format": "date-time",
              "description": "Payroll period start date"
            },
            "payrollEndDate": {
              "type": "string",
              "format": "date-time",
              "description": "Payroll period end date"
            },
            "payrollPayDate": {
              "type": "string",
              "format": "date-time",
              "description": "Scheduled payroll pay date",
              "nullable": true
            },
            "payrollFiatCurrency": {
              "type": "string",
              "description": "Fiat currency code for the payroll"
            },
            "tokenTypeID": {
              "type": "string",
              "format": "uuid",
              "description": "Token type identifier"
            },
            "payrollEntity": {
              "type": "string",
              "description": "Payroll entity identifier"
            }
          }
        },
        "CreatePayrollResponse": {
          "type": "object",
          "required": [
            "payroll"
          ],
          "properties": {
            "payroll": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Payroll identifier"
                },
                "name": {
                  "type": "string",
                  "description": "Payroll display name"
                },
                "entity": {
                  "type": "string",
                  "description": "Payroll entity name or identifier"
                },
                "payPeriodStart": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period start date"
                },
                "payPeriodEnd": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period end date"
                },
                "payDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Scheduled payroll pay date"
                },
                "currentStep": {
                  "type": "string",
                  "description": "Current workflow step"
                },
                "state": {
                  "$ref": "#/components/schemas/TgaPayrollState"
                },
                "type": {
                  "type": "string",
                  "description": "Payroll type"
                },
                "externalPayrollID": {
                  "type": "string",
                  "description": "External payroll identifier",
                  "nullable": true
                },
                "fiatCurrency": {
                  "type": "string",
                  "description": "Fiat settlement currency"
                },
                "stableCoinCurrency": {
                  "type": "string",
                  "description": "Stablecoin currency code",
                  "nullable": true
                },
                "tokenTypeID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Token type identifier",
                  "nullable": true
                },
                "exchangeRate": {
                  "type": "number",
                  "description": "FX rate used for payroll calculations",
                  "nullable": true
                },
                "isStablecoinPayrollComplete": {
                  "type": "boolean",
                  "description": "Whether stablecoin settlement is complete"
                },
                "isFiatPayrollComplete": {
                  "type": "boolean",
                  "description": "Whether fiat settlement is complete"
                },
                "isSyncedFromHRIS": {
                  "type": "boolean",
                  "description": "Whether payroll originated from HRIS sync"
                },
                "selectedEmployeeIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Selected employee identifier"
                  }
                },
                "importedData": {
                  "type": "object",
                  "description": "Imported employee data payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "processedData": {
                  "type": "object",
                  "description": "Processed employee payroll data payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "settlementData": {
                  "type": "object",
                  "description": "Settlement calculation payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "isCsvUploaded": {
                  "type": "boolean",
                  "description": "Whether payroll data came from CSV upload"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation timestamp"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last update timestamp"
                },
                "createdByID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Creator role-in-org identifier"
                },
                "lastModifiedByID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Last modifier role-in-org identifier"
                },
                "orgID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Organization identifier"
                }
              },
              "nullable": true
            }
          }
        },
        "GetPayrollInput": {
          "type": "object",
          "required": [
            "payrollId"
          ],
          "properties": {
            "payrollId": {
              "type": "string",
              "format": "uuid",
              "description": "Payroll identifier"
            }
          }
        },
        "GetPayrollResponse": {
          "type": "object",
          "required": [
            "payroll"
          ],
          "properties": {
            "payroll": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Payroll identifier"
                },
                "name": {
                  "type": "string",
                  "description": "Payroll display name"
                },
                "entity": {
                  "type": "string",
                  "description": "Payroll entity name or identifier"
                },
                "payPeriodStart": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period start date"
                },
                "payPeriodEnd": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period end date"
                },
                "payDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Scheduled payroll pay date"
                },
                "currentStep": {
                  "type": "string",
                  "description": "Current workflow step"
                },
                "state": {
                  "$ref": "#/components/schemas/TgaPayrollState"
                },
                "type": {
                  "type": "string",
                  "description": "Payroll type"
                },
                "externalPayrollID": {
                  "type": "string",
                  "description": "External payroll identifier",
                  "nullable": true
                },
                "fiatCurrency": {
                  "type": "string",
                  "description": "Fiat settlement currency"
                },
                "stableCoinCurrency": {
                  "type": "string",
                  "description": "Stablecoin currency code",
                  "nullable": true
                },
                "tokenTypeID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Token type identifier",
                  "nullable": true
                },
                "exchangeRate": {
                  "type": "number",
                  "description": "FX rate used for payroll calculations",
                  "nullable": true
                },
                "isStablecoinPayrollComplete": {
                  "type": "boolean",
                  "description": "Whether stablecoin settlement is complete"
                },
                "isFiatPayrollComplete": {
                  "type": "boolean",
                  "description": "Whether fiat settlement is complete"
                },
                "isSyncedFromHRIS": {
                  "type": "boolean",
                  "description": "Whether payroll originated from HRIS sync"
                },
                "selectedEmployeeIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Selected employee identifier"
                  }
                },
                "importedData": {
                  "type": "object",
                  "description": "Imported employee data payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "processedData": {
                  "type": "object",
                  "description": "Processed employee payroll data payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "settlementData": {
                  "type": "object",
                  "description": "Settlement calculation payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "isCsvUploaded": {
                  "type": "boolean",
                  "description": "Whether payroll data came from CSV upload"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation timestamp"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last update timestamp"
                },
                "createdByID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Creator role-in-org identifier"
                },
                "lastModifiedByID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Last modifier role-in-org identifier"
                },
                "orgID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Organization identifier"
                }
              },
              "nullable": true
            }
          }
        },
        "UpdatePayrollStateInput": {
          "type": "object",
          "required": [
            "payrollId",
            "state"
          ],
          "properties": {
            "payrollId": {
              "type": "string",
              "format": "uuid",
              "description": "Payroll identifier"
            },
            "state": {
              "$ref": "#/components/schemas/TgaPayrollState"
            }
          }
        },
        "UpdatePayrollStateResponse": {
          "type": "object",
          "required": [
            "payroll"
          ],
          "properties": {
            "payroll": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Payroll identifier"
                },
                "name": {
                  "type": "string",
                  "description": "Payroll display name"
                },
                "entity": {
                  "type": "string",
                  "description": "Payroll entity name or identifier"
                },
                "payPeriodStart": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period start date"
                },
                "payPeriodEnd": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period end date"
                },
                "payDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Scheduled payroll pay date"
                },
                "currentStep": {
                  "type": "string",
                  "description": "Current workflow step"
                },
                "state": {
                  "$ref": "#/components/schemas/TgaPayrollState"
                },
                "type": {
                  "type": "string",
                  "description": "Payroll type"
                },
                "externalPayrollID": {
                  "type": "string",
                  "description": "External payroll identifier",
                  "nullable": true
                },
                "fiatCurrency": {
                  "type": "string",
                  "description": "Fiat settlement currency"
                },
                "stableCoinCurrency": {
                  "type": "string",
                  "description": "Stablecoin currency code",
                  "nullable": true
                },
                "tokenTypeID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Token type identifier",
                  "nullable": true
                },
                "exchangeRate": {
                  "type": "number",
                  "description": "FX rate used for payroll calculations",
                  "nullable": true
                },
                "isStablecoinPayrollComplete": {
                  "type": "boolean",
                  "description": "Whether stablecoin settlement is complete"
                },
                "isFiatPayrollComplete": {
                  "type": "boolean",
                  "description": "Whether fiat settlement is complete"
                },
                "isSyncedFromHRIS": {
                  "type": "boolean",
                  "description": "Whether payroll originated from HRIS sync"
                },
                "selectedEmployeeIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Selected employee identifier"
                  }
                },
                "importedData": {
                  "type": "object",
                  "description": "Imported employee data payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "processedData": {
                  "type": "object",
                  "description": "Processed employee payroll data payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "settlementData": {
                  "type": "object",
                  "description": "Settlement calculation payload",
                  "properties": {},
                  "additionalProperties": true
                },
                "isCsvUploaded": {
                  "type": "boolean",
                  "description": "Whether payroll data came from CSV upload"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation timestamp"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last update timestamp"
                },
                "createdByID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Creator role-in-org identifier"
                },
                "lastModifiedByID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Last modifier role-in-org identifier"
                },
                "orgID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Organization identifier"
                }
              }
            }
          }
        },
        "ValidateAndCalculatePayrollInput": {
          "type": "object",
          "required": [
            "payrollId",
            "employeeData"
          ],
          "properties": {
            "payrollId": {
              "type": "string",
              "format": "uuid",
              "description": "Payroll identifier"
            },
            "employeeData": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "employeeId",
                  "employeeName",
                  "totalCompensation",
                  "totalDeduction",
                  "currency",
                  "id"
                ],
                "properties": {
                  "employeeId": {
                    "type": "string",
                    "description": "Employee identifier"
                  },
                  "employeeName": {
                    "type": "string",
                    "description": "Employee full name"
                  },
                  "totalCompensation": {
                    "type": "number",
                    "description": "Gross pay before deductions"
                  },
                  "totalDeduction": {
                    "type": "number",
                    "description": "Total deductions"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Payroll currency code"
                  },
                  "stableCoinPercentage": {
                    "type": "number",
                    "description": "Percentage of pay allocated to stablecoin",
                    "nullable": true
                  },
                  "minimumWage": {
                    "type": "number",
                    "description": "Applicable minimum wage for validation",
                    "nullable": true
                  },
                  "id": {
                    "type": "string",
                    "description": "Row identifier"
                  }
                }
              },
              "description": "Payroll input rows to validate"
            },
            "isCSVUploaded": {
              "type": "boolean",
              "description": "Whether the rows originated from a CSV upload",
              "nullable": true
            }
          }
        },
        "ValidateAndCalculatePayrollResponse": {
          "type": "object",
          "properties": {
            "validatedEmployeeData": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Row identifier"
                  },
                  "employeeId": {
                    "type": "string",
                    "description": "Employee identifier"
                  },
                  "employeeName": {
                    "type": "string",
                    "description": "Employee full name"
                  },
                  "totalCompensation": {
                    "type": "number",
                    "description": "Gross pay before deductions"
                  },
                  "totalDeduction": {
                    "type": "number",
                    "description": "Total deductions"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Payroll currency code"
                  },
                  "stableCoinPercentage": {
                    "type": "number",
                    "description": "Percentage of pay allocated to stablecoin",
                    "nullable": true
                  },
                  "netPayFiat": {
                    "type": "number",
                    "description": "Calculated net fiat pay",
                    "nullable": true
                  },
                  "netPayStableCoin": {
                    "type": "number",
                    "description": "Calculated net stablecoin pay",
                    "nullable": true
                  },
                  "hasTGAProfile": {
                    "type": "boolean",
                    "description": "Whether the employee has a Toku profile",
                    "nullable": true
                  },
                  "hasValidWallet": {
                    "type": "boolean",
                    "description": "Whether the employee has a valid wallet configured",
                    "nullable": true
                  },
                  "hasPayrollError": {
                    "type": "boolean",
                    "description": "Whether payroll validation found an error",
                    "nullable": true
                  },
                  "hasMinimumWageError": {
                    "type": "boolean",
                    "description": "Whether minimum wage validation failed",
                    "nullable": true
                  }
                }
              },
              "description": "Validated payroll rows",
              "nullable": true
            },
            "error": {
              "type": "string",
              "description": "Validation error message",
              "nullable": true
            }
          }
        },
        "GetHrisPeopleInput": {
          "type": "object",
          "description": "No request body is required for listing HRIS people.",
          "properties": {}
        },
        "GetHrisPeopleResponse": {
          "type": "object",
          "required": [
            "people"
          ],
          "properties": {
            "people": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Person identifier"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Full name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Primary email address"
                  },
                  "type": {
                    "type": "string",
                    "description": "Worker type"
                  },
                  "status": {
                    "type": "string",
                    "description": "Employment status"
                  },
                  "title": {
                    "type": "string",
                    "description": "Job title",
                    "nullable": true
                  },
                  "department": {
                    "type": "string",
                    "description": "Department name",
                    "nullable": true
                  },
                  "location": {
                    "type": "string",
                    "description": "Primary work location",
                    "nullable": true
                  },
                  "startDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Employment start date",
                    "nullable": true
                  },
                  "roleInOrg": {
                    "type": "object",
                    "description": "Role-in-organization details",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "employeeInfo": {
                    "type": "object",
                    "description": "Employee-specific profile details",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "contractorInfo": {
                    "type": "object",
                    "description": "Contractor-specific profile details",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "employeeRecord": {
                    "type": "object",
                    "description": "Underlying employee record",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "contractorRecord": {
                    "type": "object",
                    "description": "Underlying contractor record",
                    "properties": {},
                    "additionalProperties": true
                  }
                }
              },
              "description": "People in the authenticated organization"
            }
          }
        },
        "GetOnboardingOverviewInput": {
          "type": "object",
          "description": "No request body is required for onboarding overview.",
          "properties": {}
        },
        "GetOnboardingOverviewResponse": {
          "type": "object",
          "required": [
            "rows"
          ],
          "properties": {
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "roleInOrgId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Role-in-org identifier"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Country code for onboarding flow",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "description": "Onboarding status"
                  },
                  "currentStepId": {
                    "type": "string",
                    "description": "Current onboarding step identifier",
                    "nullable": true
                  },
                  "currentStepLabel": {
                    "type": "string",
                    "description": "Current onboarding step label",
                    "nullable": true
                  },
                  "completedStepCount": {
                    "type": "integer",
                    "description": "Number of completed steps"
                  },
                  "totalStepCount": {
                    "type": "integer",
                    "description": "Total number of onboarding steps"
                  },
                  "onboardingStartedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When onboarding started",
                    "nullable": true
                  },
                  "lastActivityAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last onboarding activity timestamp",
                    "nullable": true
                  }
                }
              },
              "description": "Onboarding overview rows"
            }
          }
        },
        "CreateHrisPersonInput": {
          "type": "object",
          "required": [
            "employmentType",
            "givenName",
            "familyName",
            "email",
            "country",
            "title",
            "agreementType"
          ],
          "properties": {
            "employmentType": {
              "type": "string",
              "description": "Employment type discriminator",
              "enum": [
                "EMPLOYEE",
                "CONTRACTOR"
              ]
            },
            "givenName": {
              "type": "string",
              "description": "Given name"
            },
            "familyName": {
              "type": "string",
              "description": "Family name"
            },
            "email": {
              "type": "string",
              "format": "email",
              "description": "Work email address"
            },
            "country": {
              "type": "string",
              "description": "Country of employment"
            },
            "citizenship": {
              "type": "string",
              "description": "Citizenship country code",
              "nullable": true
            },
            "startDate": {
              "type": "string",
              "format": "date-time",
              "description": "Start date",
              "nullable": true
            },
            "title": {
              "type": "string",
              "description": "Job title"
            },
            "department": {
              "type": "string",
              "description": "Department name",
              "nullable": true
            },
            "employmentServiceType": {
              "type": "string",
              "description": "EOR employment service type",
              "nullable": true
            },
            "jobDescription": {
              "type": "string",
              "description": "Job description",
              "nullable": true
            },
            "baseSalary": {
              "type": "number",
              "description": "Base salary amount",
              "nullable": true
            },
            "baseSalaryCurrency": {
              "type": "string",
              "description": "Base salary currency code",
              "nullable": true
            },
            "agreementType": {
              "type": "string",
              "description": "Agreement type"
            },
            "endDate": {
              "type": "string",
              "format": "date-time",
              "description": "End date",
              "nullable": true
            },
            "visaSupportNeeded": {
              "type": "boolean",
              "description": "Whether visa support is needed",
              "nullable": true
            },
            "tokenGrantRequested": {
              "type": "boolean",
              "description": "Whether a token grant was requested",
              "nullable": true
            },
            "signOnBonusAmount": {
              "type": "number",
              "description": "Sign-on bonus amount",
              "nullable": true
            },
            "signOnBonusCurrency": {
              "type": "string",
              "description": "Sign-on bonus currency code",
              "nullable": true
            },
            "contractorType": {
              "type": "string",
              "description": "Contractor classification",
              "nullable": true
            },
            "rateType": {
              "type": "string",
              "description": "Contractor rate type",
              "nullable": true
            },
            "rateAmount": {
              "type": "number",
              "description": "Contractor rate amount",
              "nullable": true
            },
            "rateCurrency": {
              "type": "string",
              "description": "Contractor rate currency code",
              "nullable": true
            }
          }
        },
        "CreateHrisPersonResponse": {
          "type": "object",
          "required": [
            "roleInOrgID",
            "email",
            "fullName"
          ],
          "properties": {
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Created role-in-org identifier"
            },
            "email": {
              "type": "string",
              "format": "email"
            },
            "fullName": {
              "type": "string",
              "description": "Created full name"
            }
          }
        },
        "GetHrisPersonInput": {
          "type": "object",
          "required": [
            "roleInOrgID"
          ],
          "properties": {
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            }
          }
        },
        "GetHrisPersonResponse": {
          "type": "object",
          "required": [
            "person"
          ],
          "properties": {
            "person": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Person identifier"
                },
                "fullName": {
                  "type": "string",
                  "description": "Full name"
                },
                "email": {
                  "type": "string",
                  "description": "Primary email address"
                },
                "type": {
                  "type": "string",
                  "description": "Worker type"
                },
                "status": {
                  "type": "string",
                  "description": "Employment status"
                },
                "title": {
                  "type": "string",
                  "description": "Job title",
                  "nullable": true
                },
                "department": {
                  "type": "string",
                  "description": "Department name",
                  "nullable": true
                },
                "location": {
                  "type": "string",
                  "description": "Primary work location",
                  "nullable": true
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Employment start date",
                  "nullable": true
                },
                "roleInOrg": {
                  "type": "object",
                  "description": "Role-in-organization details",
                  "properties": {},
                  "additionalProperties": true
                },
                "employeeInfo": {
                  "type": "object",
                  "description": "Employee-specific profile details",
                  "properties": {},
                  "additionalProperties": true
                },
                "contractorInfo": {
                  "type": "object",
                  "description": "Contractor-specific profile details",
                  "properties": {},
                  "additionalProperties": true
                },
                "employeeRecord": {
                  "type": "object",
                  "description": "Underlying employee record",
                  "properties": {},
                  "additionalProperties": true
                },
                "contractorRecord": {
                  "type": "object",
                  "description": "Underlying contractor record",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "UpdateHrisPersonInput": {
          "type": "object",
          "required": [
            "roleInOrgID"
          ],
          "properties": {
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            },
            "givenName": {
              "type": "string",
              "description": "Updated given name",
              "nullable": true
            },
            "familyName": {
              "type": "string",
              "description": "Updated family name",
              "nullable": true
            },
            "title": {
              "type": "string",
              "description": "Updated title",
              "nullable": true
            },
            "department": {
              "type": "string",
              "description": "Updated department",
              "nullable": true
            },
            "phoneNumber": {
              "type": "string",
              "description": "Updated phone number",
              "nullable": true
            },
            "managerEmail": {
              "type": "string",
              "format": "email",
              "description": "Updated manager email",
              "nullable": true
            }
          }
        },
        "UpdateHrisPersonResponse": {
          "type": "object",
          "required": [
            "person"
          ],
          "properties": {
            "person": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Person identifier"
                },
                "fullName": {
                  "type": "string",
                  "description": "Full name"
                },
                "email": {
                  "type": "string",
                  "description": "Primary email address"
                },
                "type": {
                  "type": "string",
                  "description": "Worker type"
                },
                "status": {
                  "type": "string",
                  "description": "Employment status"
                },
                "title": {
                  "type": "string",
                  "description": "Job title",
                  "nullable": true
                },
                "department": {
                  "type": "string",
                  "description": "Department name",
                  "nullable": true
                },
                "location": {
                  "type": "string",
                  "description": "Primary work location",
                  "nullable": true
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Employment start date",
                  "nullable": true
                },
                "roleInOrg": {
                  "type": "object",
                  "description": "Role-in-organization details",
                  "properties": {},
                  "additionalProperties": true
                },
                "employeeInfo": {
                  "type": "object",
                  "description": "Employee-specific profile details",
                  "properties": {},
                  "additionalProperties": true
                },
                "contractorInfo": {
                  "type": "object",
                  "description": "Contractor-specific profile details",
                  "properties": {},
                  "additionalProperties": true
                },
                "employeeRecord": {
                  "type": "object",
                  "description": "Underlying employee record",
                  "properties": {},
                  "additionalProperties": true
                },
                "contractorRecord": {
                  "type": "object",
                  "description": "Underlying contractor record",
                  "properties": {},
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "GetOnboardingProgressInput": {
          "type": "object",
          "properties": {
            "roleInOrgId": {
              "type": "string",
              "format": "uuid",
              "description": "Optional role-in-org identifier to inspect",
              "nullable": true
            }
          }
        },
        "GetOnboardingProgressResponse": {
          "type": "object",
          "required": [
            "roleInOrgId",
            "status",
            "steps",
            "completedStepCount",
            "totalStepCount"
          ],
          "properties": {
            "roleInOrgId": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            },
            "countryCode": {
              "type": "string",
              "description": "Country code for onboarding flow",
              "nullable": true
            },
            "status": {
              "type": "string",
              "description": "Onboarding status"
            },
            "currentStepId": {
              "type": "string",
              "description": "Current onboarding step identifier",
              "nullable": true
            },
            "steps": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "stepId": {
                    "type": "string",
                    "description": "Onboarding step identifier"
                  },
                  "status": {
                    "type": "string",
                    "description": "Current step status"
                  },
                  "stepData": {
                    "type": "object",
                    "description": "Captured step data",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "completedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the step was completed",
                    "nullable": true
                  },
                  "lastAccessedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the step was last accessed",
                    "nullable": true
                  }
                }
              },
              "description": "Detailed onboarding steps"
            },
            "completedStepCount": {
              "type": "integer",
              "description": "Number of completed steps"
            },
            "totalStepCount": {
              "type": "integer",
              "description": "Total number of onboarding steps"
            },
            "onboardingStartedAt": {
              "type": "string",
              "format": "date-time",
              "description": "When onboarding started",
              "nullable": true
            }
          }
        },
        "UpdateHrisEmployeeProfileInput": {
          "type": "object",
          "required": [
            "roleInOrgID"
          ],
          "properties": {
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            },
            "title": {
              "type": "string",
              "description": "Updated title",
              "nullable": true
            },
            "department": {
              "type": "string",
              "description": "Updated department",
              "nullable": true
            },
            "managerName": {
              "type": "string",
              "description": "Updated manager name",
              "nullable": true
            },
            "managerEmail": {
              "type": "string",
              "format": "email",
              "description": "Updated manager email",
              "nullable": true
            },
            "phoneNumber": {
              "type": "string",
              "description": "Updated phone number",
              "nullable": true
            }
          }
        },
        "UpdateHrisEmployeeProfileResponse": {
          "type": "object",
          "required": [
            "success",
            "updatedFields"
          ],
          "properties": {
            "success": {
              "type": "boolean",
              "description": "Whether the profile update request succeeded"
            },
            "updatedFields": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Updated field name"
              }
            },
            "changeRequestId": {
              "type": "string",
              "format": "uuid",
              "description": "Optional change request identifier",
              "nullable": true
            }
          }
        },
        "CreateHrisPayslipFileUploadInput": {
          "type": "object",
          "required": [
            "roleInOrgID",
            "fileName",
            "fileMimeType",
            "fileSizeInBytes"
          ],
          "properties": {
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            },
            "fileName": {
              "type": "string",
              "description": "File name to upload"
            },
            "fileMimeType": {
              "type": "string",
              "enum": [
                "application/pdf"
              ],
              "description": "Payslip MIME type"
            },
            "fileSizeInBytes": {
              "type": "integer",
              "description": "File size in bytes",
              "minimum": 1,
              "maximum": 20971520
            }
          }
        },
        "CreateHrisPayslipFileUploadResponse": {
          "type": "object",
          "required": [
            "fileID",
            "fileName",
            "fileMimeType",
            "fileSizeInBytes",
            "uploadUrl"
          ],
          "properties": {
            "fileID": {
              "type": "string",
              "format": "uuid",
              "description": "Uploaded file identifier"
            },
            "fileName": {
              "type": "string",
              "description": "File name"
            },
            "fileMimeType": {
              "type": "string",
              "description": "File MIME type"
            },
            "fileSizeInBytes": {
              "type": "integer",
              "description": "File size in bytes"
            },
            "uploadUrl": {
              "type": "string",
              "description": "Pre-signed upload URL"
            }
          }
        },
        "CreateHrisPayslipInput": {
          "type": "object",
          "required": [
            "roleInOrgID",
            "fileID",
            "currencyID",
            "payslipDate",
            "grossAmount",
            "netAmount"
          ],
          "properties": {
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            },
            "fileID": {
              "type": "string",
              "format": "uuid",
              "description": "Uploaded payslip file identifier"
            },
            "currencyID": {
              "type": "string",
              "format": "uuid",
              "description": "Currency identifier"
            },
            "payslipDate": {
              "type": "string",
              "format": "date-time",
              "description": "Payslip date"
            },
            "grossAmount": {
              "type": "number",
              "description": "Gross amount"
            },
            "netAmount": {
              "type": "number",
              "description": "Net amount"
            }
          }
        },
        "CreateHrisPayslipResponse": {
          "type": "object",
          "required": [
            "hrisPayslipID"
          ],
          "properties": {
            "hrisPayslipID": {
              "type": "string",
              "format": "uuid",
              "description": "Created payslip identifier"
            }
          }
        },
        "GetHrisPayslipsForOrgInput": {
          "type": "object",
          "properties": {
            "search": {
              "type": "string",
              "description": "Search term for employee or payslip metadata",
              "nullable": true
            },
            "periodKey": {
              "type": "string",
              "description": "Accounting period key in YYYY-MM format",
              "nullable": true
            },
            "department": {
              "type": "string",
              "description": "Department filter",
              "nullable": true
            },
            "limit": {
              "type": "integer",
              "description": "Maximum number of payslips to return",
              "minimum": 1,
              "maximum": 200,
              "nullable": true
            },
            "offset": {
              "type": "integer",
              "description": "Offset for pagination",
              "minimum": 0,
              "nullable": true
            }
          }
        },
        "GetHrisPayslipsForOrgResponse": {
          "type": "object",
          "required": [
            "totalCount",
            "payslips",
            "dashboardSummary"
          ],
          "properties": {
            "totalCount": {
              "type": "integer",
              "description": "Total payslip count matching the filters"
            },
            "payslips": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "hrisPayslipID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payslip identifier"
                  },
                  "roleInOrgID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Role-in-org identifier"
                  },
                  "payslipDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Payslip date"
                  },
                  "payPeriodLabel": {
                    "type": "string",
                    "description": "Pay period label",
                    "nullable": true
                  },
                  "grossAmount": {
                    "type": "number",
                    "description": "Gross amount"
                  },
                  "deductionsAmount": {
                    "type": "number",
                    "description": "Deductions amount",
                    "nullable": true
                  },
                  "netAmount": {
                    "type": "number",
                    "description": "Net amount"
                  },
                  "status": {
                    "type": "string",
                    "description": "Payslip processing status"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation timestamp"
                  },
                  "employee": {
                    "type": "object",
                    "description": "Employee summary",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "currency": {
                    "type": "object",
                    "description": "Currency summary",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "file": {
                    "type": "object",
                    "description": "Payslip file summary",
                    "properties": {},
                    "additionalProperties": true
                  }
                }
              },
              "description": "Payslips for the organization view"
            },
            "dashboardSummary": {
              "type": "object",
              "properties": {
                "monthLabel": {
                  "type": "string",
                  "description": "Dashboard month label"
                },
                "totalsByCurrency": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "Currency totals summary",
                    "properties": {},
                    "additionalProperties": true
                  }
                },
                "employeesPaidCount": {
                  "type": "integer",
                  "description": "Number of employees paid"
                },
                "pendingCount": {
                  "type": "integer",
                  "description": "Number of pending payslips"
                }
              }
            }
          }
        },
        "GetHrisPayslipsForEmployeeInput": {
          "type": "object",
          "required": [
            "roleInOrgID"
          ],
          "properties": {
            "roleInOrgID": {
              "type": "string",
              "format": "uuid",
              "description": "Role-in-org identifier"
            }
          }
        },
        "GetHrisPayslipsForEmployeeResponse": {
          "type": "object",
          "required": [
            "payslips"
          ],
          "properties": {
            "payslips": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "hrisPayslipID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Payslip identifier"
                  },
                  "roleInOrgID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Role-in-org identifier"
                  },
                  "payslipDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Payslip date"
                  },
                  "grossAmount": {
                    "type": "number",
                    "description": "Gross amount"
                  },
                  "netAmount": {
                    "type": "number",
                    "description": "Net amount"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation timestamp"
                  },
                  "currency": {
                    "type": "object",
                    "description": "Currency summary",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "file": {
                    "type": "object",
                    "description": "Payslip file summary",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "createdBy": {
                    "type": "object",
                    "description": "Creator summary",
                    "properties": {},
                    "additionalProperties": true
                  }
                }
              },
              "description": "Payslips for the employee"
            }
          }
        },
        "GetHrisPayslipDownloadUrlInput": {
          "type": "object",
          "required": [
            "hrisPayslipID"
          ],
          "properties": {
            "hrisPayslipID": {
              "type": "string",
              "format": "uuid",
              "description": "Payslip identifier"
            }
          }
        },
        "GetHrisPayslipDownloadUrlResponse": {
          "type": "object",
          "required": [
            "hrisPayslipID",
            "fileID",
            "fileName",
            "mimeType",
            "downloadUrl"
          ],
          "properties": {
            "hrisPayslipID": {
              "type": "string",
              "format": "uuid",
              "description": "Payslip identifier"
            },
            "fileID": {
              "type": "string",
              "format": "uuid",
              "description": "File identifier"
            },
            "fileName": {
              "type": "string",
              "description": "File name"
            },
            "mimeType": {
              "type": "string",
              "description": "File MIME type"
            },
            "downloadUrl": {
              "type": "string",
              "description": "Pre-signed download URL"
            }
          }
        },
        "ListWebhookEndpointsInput": {
          "type": "object",
          "description": "No request body is required for listing webhook endpoints.",
          "properties": {}
        },
        "ListWebhookEndpointsResponse": {
          "type": "object",
          "required": [
            "endpoints"
          ],
          "properties": {
            "endpoints": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Webhook endpoint identifier"
                  },
                  "url": {
                    "type": "string",
                    "description": "Webhook target URL"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookEventType"
                    },
                    "description": "Subscribed webhook events"
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Whether the endpoint is active"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation timestamp"
                  }
                }
              },
              "description": "Webhook endpoints"
            }
          }
        },
        "ListWebhookDeliveriesInput": {
          "type": "object",
          "required": [
            "endpointId"
          ],
          "properties": {
            "endpointId": {
              "type": "string",
              "format": "uuid",
              "description": "Webhook endpoint identifier"
            }
          }
        },
        "ListWebhookDeliveriesResponse": {
          "type": "object",
          "required": [
            "deliveries"
          ],
          "properties": {
            "deliveries": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Webhook delivery identifier"
                  },
                  "eventType": {
                    "$ref": "#/components/schemas/WebhookEventType"
                  },
                  "status": {
                    "type": "string",
                    "description": "Delivery status"
                  },
                  "httpStatus": {
                    "type": "integer",
                    "description": "HTTP response status from the destination",
                    "nullable": true
                  },
                  "attempts": {
                    "type": "integer",
                    "description": "Number of delivery attempts"
                  },
                  "lastAttemptAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last delivery attempt timestamp",
                    "nullable": true
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Delivery creation timestamp"
                  }
                }
              },
              "description": "Webhook deliveries for the endpoint"
            }
          }
        },
        "CreateWebhookEndpointInput": {
          "type": "object",
          "required": [
            "url",
            "events"
          ],
          "properties": {
            "url": {
              "type": "string",
              "format": "uri",
              "description": "Destination webhook URL"
            },
            "events": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/WebhookEventType"
              },
              "description": "Subscribed webhook events"
            }
          }
        },
        "CreateWebhookEndpointResponse": {
          "type": "object",
          "required": [
            "endpoint"
          ],
          "properties": {
            "endpoint": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Webhook endpoint identifier"
                },
                "url": {
                  "type": "string",
                  "description": "Webhook target URL"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WebhookEventType"
                  },
                  "description": "Subscribed webhook events"
                },
                "isActive": {
                  "type": "boolean",
                  "description": "Whether the endpoint is active"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Endpoint creation timestamp"
                },
                "signingSecret": {
                  "type": "string",
                  "description": "Signing secret returned only at creation time",
                  "nullable": true
                }
              }
            }
          }
        },
        "DeleteWebhookEndpointInput": {
          "type": "object",
          "required": [
            "id"
          ],
          "properties": {
            "id": {
              "type": "string",
              "format": "uuid",
              "description": "Webhook endpoint identifier"
            }
          }
        },
        "DeleteWebhookEndpointResponse": {
          "type": "object",
          "required": [
            "success"
          ],
          "properties": {
            "success": {
              "type": "boolean",
              "description": "Whether the webhook endpoint was deleted"
            }
          }
        },
        "GetAllTokenPayrollsInput": {
          "type": "object",
          "properties": {
            "payrollEntityId": {
              "type": "string",
              "description": "Optional payroll entity filter",
              "nullable": true
            }
          }
        },
        "GetAllTokenPayrollsResponse": {
          "type": "object",
          "required": [
            "payrolls"
          ],
          "properties": {
            "payrolls": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Token payroll identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Token payroll name"
                  },
                  "subName": {
                    "type": "string",
                    "description": "Secondary display name",
                    "nullable": true
                  },
                  "entity": {
                    "type": "string",
                    "description": "Payroll entity name or identifier"
                  },
                  "payPeriodStart": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Payroll period start date"
                  },
                  "payPeriodEnd": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Payroll period end date"
                  },
                  "payDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Payroll pay date"
                  },
                  "currentStep": {
                    "type": "string",
                    "description": "Current workflow step"
                  },
                  "state": {
                    "$ref": "#/components/schemas/TgaPayrollState"
                  },
                  "type": {
                    "type": "string",
                    "description": "Payroll type"
                  },
                  "isStablecoinOnlySettlement": {
                    "type": "boolean",
                    "description": "Whether only stablecoin settlement is used",
                    "nullable": true
                  },
                  "externalPayrollID": {
                    "type": "string",
                    "description": "External payroll identifier",
                    "nullable": true
                  },
                  "fiatCurrency": {
                    "type": "string",
                    "description": "Fiat currency code"
                  },
                  "tokenTypeID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Token type identifier",
                    "nullable": true
                  },
                  "exchangeRate": {
                    "type": "number",
                    "description": "Exchange rate used for settlement",
                    "nullable": true
                  },
                  "isStablecoinPayrollComplete": {
                    "type": "boolean",
                    "description": "Whether stablecoin settlement is complete"
                  },
                  "isFiatPayrollComplete": {
                    "type": "boolean",
                    "description": "Whether fiat settlement is complete"
                  },
                  "isSyncedFromHRIS": {
                    "type": "boolean",
                    "description": "Whether payroll originated from HRIS sync"
                  },
                  "selectedEmployeeIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Selected employee identifier"
                    }
                  },
                  "importedData": {
                    "type": "object",
                    "description": "Imported payroll data payload",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "processedData": {
                    "type": "object",
                    "description": "Processed payroll data payload",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "settlementData": {
                    "type": "object",
                    "description": "Settlement payload",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "isCsvUploaded": {
                    "type": "boolean",
                    "description": "Whether CSV data has been uploaded"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Creation timestamp"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last update timestamp"
                  },
                  "isPlaceholder": {
                    "type": "boolean",
                    "description": "Whether this record is a placeholder",
                    "nullable": true
                  },
                  "createdByID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Creator role-in-org identifier"
                  },
                  "lastModifiedByID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Last modifier role-in-org identifier"
                  },
                  "orgID": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Organization identifier"
                  },
                  "payrollSyncedSource": {
                    "type": "string",
                    "description": "Source system used for sync",
                    "nullable": true
                  },
                  "payrollGroup": {
                    "type": "string",
                    "description": "Payroll group name",
                    "nullable": true
                  },
                  "integrationEntityName": {
                    "type": "string",
                    "description": "Integration entity name",
                    "nullable": true
                  },
                  "payrollIntegrationEntityId": {
                    "type": "string",
                    "description": "Integration payroll entity identifier",
                    "nullable": true
                  },
                  "fireblocksConfig": {
                    "type": "object",
                    "description": "Resolved Fireblocks configuration",
                    "properties": {},
                    "additionalProperties": true
                  },
                  "contributorsInTokenPayroll": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Contributor payroll details",
                      "properties": {},
                      "additionalProperties": true
                    }
                  },
                  "payrollEntity": {
                    "type": "object",
                    "description": "Payroll entity details",
                    "properties": {},
                    "additionalProperties": true
                  }
                }
              },
              "description": "Token payroll runs"
            }
          }
        },
        "CreateTokenPayrollInput": {
          "type": "object",
          "required": [
            "payPeriodStart",
            "payPeriodEnd",
            "payDate",
            "fiatCurrency",
            "payrollEntityId"
          ],
          "properties": {
            "payPeriodStart": {
              "type": "string",
              "format": "date-time",
              "description": "Payroll period start date"
            },
            "payPeriodEnd": {
              "type": "string",
              "format": "date-time",
              "description": "Payroll period end date"
            },
            "payDate": {
              "type": "string",
              "format": "date-time",
              "description": "Payroll pay date"
            },
            "fiatCurrency": {
              "type": "string",
              "description": "Fiat currency code"
            },
            "payrollEntityId": {
              "type": "string",
              "description": "Payroll entity identifier"
            },
            "externalPayrollID": {
              "type": "string",
              "description": "External payroll identifier",
              "nullable": true
            },
            "type": {
              "type": "string",
              "description": "Payroll type",
              "nullable": true
            },
            "state": {
              "$ref": "#/components/schemas/TgaPayrollState",
              "nullable": true
            }
          }
        },
        "CreateTokenPayrollResponse": {
          "type": "object",
          "required": [
            "tokenPayroll"
          ],
          "properties": {
            "tokenPayroll": {
              "type": "object",
              "properties": {
                "tokenPayrollID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Token payroll identifier"
                },
                "orgID": {
                  "type": "string",
                  "format": "uuid",
                  "description": "Organization identifier"
                },
                "payPeriodStart": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period start date"
                },
                "payPeriodEnd": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll period end date"
                },
                "payDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Payroll pay date"
                },
                "externalPayrollID": {
                  "type": "string",
                  "description": "External payroll identifier",
                  "nullable": true
                },
                "fiatCurrency": {
                  "type": "string",
[...]
